<div id = "other_details">
  <table>
  <tr>
    <th>URL Name &nbsp; &nbsp; &nbsp;</th>
    <th>GlobalRank</th>
  </tr>
   <tr>
    <td><%= @website.url_name %></td>
    <% if @website.ranks.empty?%>
      <td>Rank is not available. Please Check after some time</td>
    <%else%>
      <td><%= @website.ranks.first.rank%></td>
      <td><%= link_to 'Delete', @website, method: :delete %></td>
    <%end%>
    </tr>
</table>

</div>
<div id = "chart">

  <% @website.ranks.each do |rank| %>
  <%= line_chart ({"Previous Rank" => rank.old_rank , "Current Rank" => rank.rank}) %>
  <% end%>
</div>
